body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 100%;
  margin: 0px;
  font-size: 14px;
}
.contenedor {
  max-width: 600px;
  margin: 0px auto;
}
.header {
  width: 50%;
  margin: 20px 10px;
}
.title-purple {
  color: #00a99d;
  font-size: 40px;
}
.title-purple span {
  color: rgb(19, 25, 45);
  font-size: 40px;
}
.saludo {
  color: rgb(19, 25, 45);
  font-size: 24px;
}
.diploma {
  width: 100%;
  margin: 10px auto;
  border: 3px solid #a4b2bf;
}
.descubre {
  text-align: center;
  margin: 2rem;
}
.gif {
  width: 30px;
  margin-right: 10px;
}
.instrucciones {
  color: #00a99d;
  text-align: center;
}
.sombra {
  width: 30%;
  float: left;
  background-color: #a7a7a7;
  margin: 10px 0 0 5px;
}
.marco {
  margin: 50px 7rem;
}
.marco2 {
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #2867b2;
  text-decoration: none;
}
.politica {
  color: rgb(76, 81, 85);
  font-size: 11px;
  text-align: center;
  margin: 40px;
}
.footer {
  height: 50px;
  background-color: #212121;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 1rem;
}
.pfooter {
  font-size: 9px;
  text-align: center;
  margin: 20px 50px;
}
.rrss1 {
  width: 70px;
  margin: 15px 0;
}
.rrss2 {
  width: 20px;
  margin: 15px 0px;
}
.button {
  color: #ffffff;
  font-size: 22px;
  padding: 10px;
  text-decoration: none;
  border-radius: 8px;
  background: #22b573;
  display: block;
  text-align: center;
}
.ejemplo {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
.imgejemplo {
  border: 2px solid #a4b2bf;
  max-width: 330px;
}
.botonlinkedin {
  color: white;
}
.textoinicial {
  margin: 2rem;
}
.buttonclass {
  width: 250px;
  margin: 0px auto;
}
